@font-face {
  src: url(../fonts/Plusquam-Sans-Medium.otf);
  font-family: Plusquam;
}

@font-face {
  src: url(../fonts/Utopia-Bold.otf);
  font-family: Utopia;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f4e8;
  font-size: 16px;
}

main {
  padding: 20px;
}

ul {
  list-style: none;
}

li:hover p {
  color: black;
}

a {
  text-decoration: none;
}

p {
  font-family: Plusquam;
  line-height: 1.5;
  color: #87827a;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.3rem;
  font-family: Utopia;
}

.hiring {
  display: inline-block;
  background: linear-gradient(to right, #e79908, #e43d0a);
  padding: 7px;
  border-radius: 4rem;
  margin-left: 1rem;
}

.hiring p {
  color: white;
}

.email-container {
  margin-top: 1rem;
}

.email-container .flex:nth-of-type(1) {
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.flex-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.flex-left {
  flex: 1;
  display: flex;
  flex-basis: 70%;
}

.flex-center {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.desktop {
  display: none;
}

.float-right {
  float: right;
}

.mid-section img {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.main-image {
  position: relative;
  width: 90%;
  margin: 6rem auto 0;
  max-width: 500px;
}

.main-image img:nth-of-type(2) {
  position: absolute;
  z-index: 5;
}

.main-image img:nth-of-type(3) {
  position: absolute;
  z-index: 4;
  transform: rotate(-20deg);
}

.main-image img:nth-of-type(4) {
  position: absolute;
  z-index: 3;
  transform: rotate(-40deg);
}

.main-image img:nth-of-type(5) {
  position: absolute;
  z-index: 2;
  transform: rotate(-60deg);
}

.main-image img:nth-of-type(2), .main-image img:nth-of-type(3), .main-image img:nth-of-type(4), .main-image img:nth-of-type(5) {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 50px;
}

input::placeholder {
  color: #87827a;
}

button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background: #4976e9;
  height: 50px;
  cursor: pointer;
}

button p {
  color: white;
}

button:hover {
  background-color: #7191e4;
}

.no-spam {
  position: relative;
  margin-top: 1rem;
}

.no-spam img {
  width: 20px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.no-spam p {
  display: inline-block;
  margin-left: 1rem;
}

.socials {
  margin-top: 3rem;
}

.socials li {
  display: inline-block;
  margin-right: 1rem;
}

.help-section {
  margin-top: 3rem;
}

.help-section .flex:nth-of-type(2) {
  flex-basis: 90%;
  margin-left: 1rem;
}

.help-section p {
  color: black;
  cursor: pointer;
}

.help-section p:hover {
  text-decoration: underline;
}

.help-section p:nth-of-type(2) {
  font-family: Utopia;
}

#invalid-text {
  color: red;
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    padding: 3rem;
  }
  .email-container {
    flex-direction: row;
    margin-right: 20%;
  }
  .email-container .flex:nth-of-type(1) {
    flex-basis: 65%;
    margin-right: 1rem;
  }
  .email-container .flex:nth-of-type(2) {
    flex-basis: 35%;
  }
  .bottom-section .flex-container-vertical {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1052px) {
  main {
    padding: 4rem 10%;
  }
  .desktop {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
  .navbar button {
    width: 150px;
  }
  .navbar .flex-left,
  .navbar .flex,
  .navbar .flex-right {
    flex-basis: 33%;
  }
  .navbar .flex-right a {
    margin-right: 2rem;
  }
  .navbar .flex-right a:hover p {
    color: black;
  }
  .navbar p {
    display: inline-block;
  }
  .flex-left {
    flex-basis: unset;
  }
  .flex-container-vertical {
    flex-direction: row;
    max-height: 500px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .mid-section {
    margin-top: 5rem;
  }
  .middle-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 10%;
    max-width: 750px;
  }
  .no-spam {
    margin-top: 0;
  }
  .bottom-section {
    margin-top: 8rem;
  }
}
