* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f0ea;
}

main {
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hiring {
  display: inline-block;
  background: linear-gradient(to right, #e79908, #e43d0a);
}

.hiring p {
  color: white;
}

.flex-container {
  display: flex;
}

.flex {
  flex: 1;
}

.flex-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.desktop {
  display: none;
}
